PORT=8787
HOST=0.0.0.0
SHUFFLEPLUS_DATA_DIR=./data
SHUFFLEPLUS_ALLOWED_ORIGINS=https://mgresset.github.io
SHUFFLEPLUS_MAX_BODY_BYTES=6291456
SHUFFLEPLUS_RATE_LIMIT=180
SHUFFLEPLUS_LAUNCH_RESULT_TTL_MS=900000
